{% autoescape false %}
{% filter compress %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="{{ _charset }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{{ podorozhny_company_name }}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" />
        {% block styles %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endfilter %}
{% endautoescape %}