/.idea

/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/sessions/*
/app/tmp/*
/app/bootstrap.php.cache
/app/phpunit.xml

/bin/*

/bower_components/*

/src/Podorozhny/CoreBundle/Controller/DevController.php

/vendor/*

/web/bundles/*
/web/css/*
/web/fonts/*
/web/img/*
/web/js/*
/web/uploads/*

composer.lock
Thumbs.db

.*
_*
*~
*.log

!.gitignore
!.gitkeep