{% extends 'CoreBundle:Backend:layout.html.twig' %}

{% block title %}Отдел кадров  / {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <h1 class="page-header">Отдел кадров</h1>
{% endblock %}