{% extends 'CoreBundle:Backend:layout.html.twig' %}

{% block title %}Финансовый отдел / {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <h1 class="page-header">Финансовый отдел</h1>
{% endblock %}