{% extends 'CoreBundle:Backend:layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/graph.js') }}"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <h1 class="page-header">Добро пожаловать</h1>
    <div class="row">
        <div class="col-md-6">
            <h2 class="sub-header">Клиенты</h2>
            <canvas id="canvas-clients"></canvas>
        </div>
        <div class="col-md-6">
            <h2 class="sub-header">Транзакции</h2>
            <canvas id="canvas-transactions"></canvas>
        </div>
        <div class="col-md-6">
            <h2 class="sub-header">Товары на складе</h2>
            <canvas id="canvas-goods"></canvas>
        </div>
        <div class="col-md-6">
            <h2 class="sub-header">Сотрудники</h2>
            <canvas id="canvas-users"></canvas>
        </div>
    </div>
{% endblock %}