{% extends 'CoreBundle:Backend:layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//getbootstrap.com/assets/js/vendor/holder.js"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    <h1 class="page-header">Главная</h1>
    data-highcharts-chart
{% endblock %}