{% extends 'CoreBundle:Backend:layout.html.twig' %}

{% block title %}Складской отдел / {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}
    <h1 class="page-header">Складской отдел</h1>
{% endblock %}