<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Заголовок</th>
                <th>Сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in pagination %}
                {% include 'CoreBundle:Finance/Transaction:list_item_content.html.twig' %}
            {% endfor %}
        </tbody>
    </table>
</div>